#app {
  overflow-y: auto;
  overflow-x: hidden;
  #nav-top {
    width: 100%;
    height: 2rem;
    background: #1c6132;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 999;
    .head-left {
      display: inline-block;
      .iconfont {
        color: white;
      }
      span {
        color: white;
        font-size: 0.8rem;
      }
    }
    .head-right{
      float: right;
      margin-left: 2rem;
      display: inline-block;
      .iconfont {
        color: white;
      }
    }
  }
  .container {
    position: absolute;
    top: 2rem;
    padding: 10px;
    width: 100%;
    .con-header {
      border-bottom: 1px solid lightgray;
      margin-bottom: 0.8rem;
      padding-bottom: 0.5rem;
      .title {
        font-size: 1rem;
        text-align: center;
      }
      .author-info {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 0.6rem;
        img {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1.5rem;
          vertical-align: middle;
        }
      }
    }

    .info {
      margin-bottom: 1rem;
      img {
        width: 100%;
      }
      h1, h2, h3, h4, h5, h6 {
        font-size: 0.8rem;
        border-bottom: 1px solid lightgray;
        line-height: 2.5rem;
        margin-bottom: 10px;
      }
      p, div, ul, li {
        font-size: 0.7rem;
      }
      li ul li {
        list-style-type: disc;
        font-size: 0.7rem;
        list-style-position: inside;

      }

    }
    .reply-area{
      font-size: 1rem;
      font-weight: bold;
      display: inline-block;
    }
    .reply-btn{
      display: inline-block;
      margin-left: 10px;
      background: green;
      color: white;
      border-radius: 3px;
      padding: 0 5px;

    }
    .reply-block {
      padding: 0.5rem 0;
      border-bottom: 1px dashed lightgray;
      .reply-one{
        .reply-left{
          width:15%;
          float: left;
          img{
            width: 1.5rem;
            margin: 0 auto;
          }
        }
        .reply-right{
          width: 85%;
          font-size: 0.7rem;
          float: left;
          .reply-time{
            font-size: 0.6rem;
            .answer{
              float: right;
              color: green;
            }
          }
        }
        .clear{
          clear: both;
        }
      }
    }
    .fabu-reply{
      border: 1px solid lightgrey;
      margin-top: 1rem;
      font-size: 0.7rem;
      border-radius: 3px;
    }
    .release-btn{
      width: 3.5rem;
      height: 1.5rem;
      background: green;
      color: white;
      margin-top: 1rem;
      border-radius: 3px;
    }
  }
}