#app {
  overflow-y: auto;
  overflow-x: hidden;
  #nav-top {
    width: 100%;
    height: 2rem;
    background: #1c6132;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 999;
    .head-left {
      display: inline-block;
      .iconfont {
        color: white;
      }
      span {
        color: white;
        font-size: 0.8rem;
      }
    }
    .head-right {
      margin-left: 2rem;
      display: inline-block;
      .iconfont {
        color: white;
      }
    }
  }
  .container {
    position: absolute;
    top: 2rem;
    padding: 10px;
    width: 100%;
    font-size: 0.7rem;
    .vux-flexbox {
      margin: 0 auto;
      margin-top: 7px;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid lightgray;
      .vux-flexbox-item {
        .flex-demo {
          color: white;
          background: #c9c9c9;
          font-size: 0.7rem;
          padding: 0.2rem 0.1rem;
          border-radius: 4px;
          text-align: center;
        }
        .active{
          background: green;
        }
      }
    }
    textarea{
      font-size: 0.7rem;
    }
    .submit{
      margin: 1rem 0;
      width: 100%;
      background: green;
      color: white;
      height: 2rem;
      font-size: 0.8rem;
      line-height: 2rem;
      text-align: center;
      border-radius: 4px;
    }
  }
}