@import "mixin";
.login{
  .logo-block{
    width: 3rem;
    height: 3rem;
    margin: 3rem auto 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
  p{
    text-align: center;
  }
  .from-block{
    font-size: 0.8rem;
    width: 90%;
    margin: 1rem auto 0;
    .from-one{
      label{
        width: 40%;
        text-align: right;
        line-height: 1.6rem;

      }
      input{
        width: 100%;
        border: 1px solid lightgray;
        height: 1.5rem;
        border-radius: 4px;
        padding-left: 5px;
        line-height: 1.5rem;
      }
    }
  }
  .login-btn{
    width: 90%;
    margin: 2rem auto 0;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    background: $green;
    border-radius: 4px;
  }
}
